@model List<TravelBuddy.Models.UserRoute>
@{
    ViewData["Title"] = "Маршруты";
}

<h2>Маршруты</h2>
<a class="btn btn-primary mb-3" asp-action="Create">Создать маршрут</a>

<div class="row">
    @foreach (var route in Model)
    {
        var firstStop = route.RouteStops.FirstOrDefault();
        var lastStop = route.RouteStops.LastOrDefault();

        <div class="col-md-4 mb-3">
            <div class="card p-3">
                <h5>Название маршрута: @route.RouteName</h5>
                @if (firstStop != null && lastStop != null)
                {
                    <p>Отправление: @firstStop.DestinationCity</p>
                    <p>Назначение: @lastStop.DestinationCity</p>
                }
                else
                {
                    <p>Маршрут не содержит городов</p>
                }
                <h6>Остановки:</h6>
                <ul>
                    @foreach (var stop in route.RouteStops)
                    {
                        <li>
                            <strong>Город:</strong> @stop.DestinationCity <br />
                            <strong>Транспорт:</strong> @stop.Transportation <br />
                            <strong>Время пребывания:</strong> @stop.Duration @stop.DurationType
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>
