@model List<TravelBuddy.Models.UserRoute>
@{
    ViewData["Title"] = "Маршруты";
}

<link rel="stylesheet" href="~/css/routes.css" asp-append-version="true"/>

<h2 class="header-title">Маршруты</h2>
<a class="btn btn-primary mb-3 create-route-btn" asp-action="Create">Создать маршрут</a>

<div class="row">
    @foreach (var route in Model)
    {
        var firstStop = route.RouteStops.FirstOrDefault();
        var lastStop = route.RouteStops.LastOrDefault();
        var stopsList = route.RouteStops.ToList(); // в List для поддержки индексации

        <div class="col-md-4 mb-3">
            <a asp-action="Details" asp-route-id="@route.Id" class="text-decoration-none">
                <div class="card route-card p-3">
                    <h5 class="route-title">Название маршрута: @route.RouteName</h5>
                    @if (firstStop != null && lastStop != null)
                    {
                        <p>Отправление: <span class="highlight">@firstStop.DestinationCity</span></p>
                        <p>Назначение: <span class="highlight">@lastStop.DestinationCity</span></p>
                    }
                    else
                    {
                        <p class="text-muted">Маршрут не содержит городов</p>
                    }
                    <h6 class="stops-title">Остановки:</h6>
                    <ul class="stops-list">
                        @for (int i = 0; i < stopsList.Count; i++)
                        {
                            var stop = stopsList[i];
                            <li>
                                <strong>Город:</strong> @stop.DestinationCity <br />
                                
                                @if (i != stopsList.Count - 1)
                                {
                                    <strong>Транспорт:</strong> @stop.Transportation <br />
                                    <strong>Время пребывания:</strong> @stop.Duration @stop.DurationType
                                }
                            </li>
                        }
                    </ul>
                </div>
            </a>
        </div>
    }
</div>
